body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 300;
    }

.body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.head {
    background-image: url(../img/maxresdefault-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.contaner {
    width: 100%;
    height: 200px;
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    
}
  
.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 30px;
    overflow-x: hidden;
    font-weight: bold;
    font-size: 16px;
    background-color: black;
    color: white;
}
.marquee_1 {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 30px;
  overflow-x: hidden;
  font-weight: bold;
  font-size: 16px;
}


.track {
    position: relative;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 60s linear infinite;
  }
  
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

@keyframes marquee_1 {
    from { transform: translateX(0); }
    to { transform: translateX(50%); }
  }

.track_1 {
    width: 100%;
    position: relative;
    white-space: nowrap;
    will-change: transform;
    animation: marquee_1 15s linear infinite;
    justify-content: space-around;
    display: flex;
  }

.faq-header{
    font-size: 42px;
    border-bottom: 1px dotted #ccc;
    padding: 24px;
  }
  
.faq-content {
    margin: 0 auto;
  }
  
.faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
  }
  
.panel-title {
    font-size: 24px;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
  }
  
.panel-content {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
  }
  
.panel:checked ~ .panel-content{
    height: auto;
    opacity: 1;
    padding: 14px;
  }
  
.plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
  }
  
.panel:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
.panel {
    display: none;
  }

.foot {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: rgb(54, 54, 54);
  width: 100%;
}